svg.graph {
	display: block;
	margin: auto;
}
.bd {
	outline: solid 1px black;
}
.ov {
	overflow: visible;
}

.dark svg.graph {
	background-color: #0004;
}

.dark svg.graph text {
	background-color: #0001;
	fill: white;
}
