<template>
	<slot></slot>
</template>

<script setup lang="ts">
import { useAxisDate } from "../composables/useAxisDate"
import { ky, propsOptionsDate } from "../mods/axis"

const props = defineProps(propsOptionsDate)
const axis = useAxisDate(props, ky)
defineExpose(axis)
</script>
