<template>
	<slot></slot>
</template>

<script setup lang="ts">
import { kx, propsOptionsDate } from "../mods/axis"
import { useAxisDate } from "../composables/useAxisDate"

const props = defineProps(propsOptionsDate)
const axis = useAxisDate(props, kx)
defineExpose(axis)
</script>
