<template>
	<slot></slot>
</template>

<script setup lang="ts">
import { useAxisNb } from "../composables/useAxisNb"
import { ky, propsOptionsNb } from "../mods/axis"

const props = defineProps(propsOptionsNb)
const axis = useAxisNb(props, ky)
defineExpose(axis)
</script>
