<template>
	<path :d="d" v-bind="$attrs" />
</template>

<script setup lang="ts">
import { computed } from "vue"
import { kProps } from "../mods/pie.k"
import { distance, getAngle, getCross, polarToCartesian } from "../mods/trigo"
import { strictInject } from "../mods/utils"

const props = defineProps({
	start: {
		type: Number,
		required: true,
	},
	end: {
		type: Number,
		required: true,
	},
	hole: {
		type: Number,
		validator: (n: number) => n >= 0 && n <= 1,
	},
	ply: {
		type: Number,
		validator: (n: number) => n >= 0 && n <= 1,
	},
	gap: {
		type: Number,
	},
	turn: {
		type: Number,
	},
})

const twoPI = 2 * Math.PI
const pieProps = strictInject(kProps)

const hole = computed(() => props.hole ?? pieProps.hole)
const ply = computed(() => props.ply ?? pieProps.ply ?? 1 - hole.value)
const gap = computed(() => props.gap ?? pieProps.gap)
const turn = computed(() => props.turn ?? pieProps.turn)

const gapSize = computed(() => (gap.value / pieProps.size) * 2) // 2 because viewBox svg

// divide by 2 because isocele triangle to rect triangle
// so we compute the half angle (and radius is = 1 so non need to divide)
const radGap = computed(() => Math.atan(gapSize.value / 2))

const radNoGapStart = computed(
	() => ((props.start - pieProps.min) / (pieProps.max - pieProps.min)) * twoPI + turn.value,
)
const radNoGapEnd = computed(() => ((props.end - pieProps.min) / (pieProps.max - pieProps.min)) * twoPI + turn.value)

const radStart = computed(() => radNoGapStart.value + radGap.value)
const radEnd = computed(() => radNoGapEnd.value - radGap.value)

const outStart = computed(() => polarToCartesian({ angle: radStart.value, radius: hole.value + ply.value }))
const outEnd = computed(() => polarToCartesian({ angle: radEnd.value, radius: hole.value + ply.value }))

const inStartNoGap = computed(() =>
	polarToCartesian({
		angle: radNoGapStart.value + Math.PI,
		radius: ply.value,
		cx: outStart.value.x,
		cy: outStart.value.y,
	}),
)
const inEndNoGap = computed(() =>
	polarToCartesian({
		angle: radNoGapEnd.value + Math.PI,
		radius: ply.value,
		cx: outEnd.value.x,
		cy: outEnd.value.y,
	}),
)

const cross = computed(() => getCross([inStartNoGap.value, outStart.value], [inEndNoGap.value, outEnd.value]))

const inStart = computed(() => {
	if (gapSize.value) {
		return polarToCartesian({
			angle: radNoGapStart.value + Math.PI,
			radius: Math.min(ply.value, distance(outStart.value, cross.value)),
			cx: outStart.value.x,
			cy: outStart.value.y,
		})
	}
	return inStartNoGap.value
})
const inEnd = computed(() => {
	if (gapSize.value) {
		return polarToCartesian({
			angle: getAngle(outEnd.value, cross.value),
			radius: Math.min(ply.value, distance(outEnd.value, cross.value)),
			cx: outEnd.value.x,
			cy: outEnd.value.y,
		})
	}
	return inEndNoGap.value
})

const mod = computed(() => (radEnd.value - radStart.value) % twoPI)
const fullCircle = computed(() => mod.value === 0)
const largeArcFlag = computed(() => (mod.value > Math.PI || fullCircle.value ? "1" : "0"))
const r = computed(() => hole.value + ply.value)

/* eslint-disable indent */
const d = computed(() => {
	// prettier-ignore
	return [
			"M", inStart.value.x, inStart.value.y,
			"L", outStart.value.x, outStart.value.y,
			"A", r.value, r.value,
				0, largeArcFlag.value, 1,
				outEnd.value.x, outEnd.value.y,
			"L", inEnd.value.x, inEnd.value.y,
			"A", hole.value, hole.value,
				1, largeArcFlag.value, 0,
				inStart.value.x, inStart.value.y,
		].join(" ")
})
</script>
