<script setup lang="ts">
import { provide } from "vue"
import { kProps, propsOptions } from "../mods/pie.k"

const props = defineProps(propsOptions)

provide(kProps, props)
</script>

<template>
	<svg viewBox="-1 -1 2 2" :width="size" :height="size">
		<slot />
	</svg>
</template>
