<template>
	<text :x="x" :y="y" :dominant-baseline="db" :text-anchor="ta">
		<slot>{{ value }}</slot>
	</text>
</template>

<script setup lang="ts">
import { computed, onUnmounted, watchEffect } from "vue"
import { kParent, kx, ky } from "../mods/axis"
import { axis as propAxis, safeValueRequired } from "../mods/props"
import { strictAxisInject, strictInject, xor } from "../mods/utils"

const props = defineProps({
	value: safeValueRequired,
	index: Boolean,
	axis: propAxis,
	bottom: Boolean,
	right: Boolean,
})
const id = Symbol()
const parent = strictAxisInject(kParent)
const xAxis = strictInject(kx)
const yAxis = strictInject(ky)
const selAxis = computed(() => (props.axis === "x" ? xAxis : props.axis === "y" ? yAxis : parent))

watchEffect(() => {
	if (props.index) selAxis.value.setValue(id, props.value)
	else selAxis.value.values.delete(id)
})
const right = computed(() => xor(xAxis?.reverse?.value, props.right))
const x = computed(() =>
	xAxis.scale(selAxis.value.name === "x" ? props.value : right.value ? xAxis.max.value : xAxis.min.value),
)
const bottom = computed(() => xor(yAxis?.reverse?.value, props.bottom))
const y = computed(() =>
	yAxis.scale(selAxis.value.name === "y" ? props.value : bottom.value ? yAxis.max.value : yAxis.min.value),
)
const db = computed(() => (selAxis.value.name === "y" ? "middle" : props.bottom ? "hanging" : "auto"))
const ta = computed(() => (selAxis.value.name === "x" ? "middle" : props.right ? "start" : "end"))
onUnmounted(() => {
	selAxis.value.values.delete(id)
})
</script>
