<template>
	<ellipse :cx="x" :cy="y" :rx="frx" :ry="fry" />
</template>

<script setup lang="ts">
import { computed, onUnmounted, watchEffect } from "vue"
import { kx, ky } from "../mods/axis"
import { d, safeNumberRequired, safeValueRequired } from "../mods/props"
import { isSafeNumber, strictAxisInject } from "../mods/utils"

const props = defineProps({
	cx: safeValueRequired,
	cy: safeValueRequired,
	rx: safeNumberRequired,
	ry: safeNumberRequired,
	...d,
	ignore: Boolean,
})
const id = Symbol()
const id2 = Symbol()
const yAxis = strictAxisInject(ky)
const xAxis = strictAxisInject(kx)

const x = computed((): number => xAxis.scale(props.cx) + props.dx)
const y = computed((): number => yAxis.scale(props.cy) + props.dy)

const frx = computed(() => xAxis.scaleSize(props.rx))
const fry = computed(() => yAxis.scaleSize(props.ry))

watchEffect(() => {
	if (props.ignore) {
		xAxis.values.delete(id)
		xAxis.values.delete(id2)
		yAxis.values.delete(id)
		yAxis.values.delete(id2)
	} else {
		if (props.rx && isSafeNumber(props.cx)) {
			xAxis.setValue(id, props.cx + props.rx)
			xAxis.setValue(id2, props.cx - props.rx)
		} else xAxis.setValue(id, props.cx)
		if (props.ry && isSafeNumber(props.cy)) {
			yAxis.setValue(id, props.cy + props.ry)
			yAxis.setValue(id2, props.cy - props.ry)
		} else yAxis.setValue(id, props.cy)
	}
})

onUnmounted(() => {
	xAxis.values.delete(id)
	xAxis.values.delete(id2)
	yAxis.values.delete(id)
	yAxis.values.delete(id2)
})
</script>
