<template>
	<line
		v-for="xLine of xLines"
		v-bind="$attrs"
		:key="xLine"
		:x1="xLine"
		:y1="y1"
		:x2="xLine"
		:y2="y2"
		shape-rendering="crispEdges"
	/>
	<line
		v-for="yLine of yLines"
		v-bind="$attrs"
		:key="yLine"
		:x1="x1"
		:y1="yLine"
		:x2="x2"
		:y2="yLine"
		shape-rendering="crispEdges"
	/>
</template>

<script setup lang="ts">
import { computed } from "vue"
import { kx, ky } from "../mods/axis"
import { safeValue } from "../mods/props"
import { strictAxisInject } from "../mods/utils"

const props = defineProps({
	x: {
		type: Number,
		default: 2,
		validator(n: number) {
			return n >= 0 && Number.isInteger(n)
		},
	},
	y: {
		type: Number,
		default: 2,
		validator(n: number) {
			return n >= 0 && Number.isInteger(n)
		},
	},
	minX: safeValue,
	maxX: safeValue,
	minY: safeValue,
	maxY: safeValue,
})
const xAxis = strictAxisInject(kx)
const yAxis = strictAxisInject(ky)

const minX = computed(() => props.minX ?? xAxis.min.value)
const maxX = computed(() => props.maxX ?? xAxis.max.value)
const minY = computed(() => props.minY ?? yAxis.min.value)
const maxY = computed(() => props.maxY ?? yAxis.max.value)

const x1 = computed(() => xAxis.scale(minX.value) || 1)
const x2 = computed(() => xAxis.scale(maxX.value) - 1)
const y1 = computed(() => yAxis.scale(minY.value) || 1)
const y2 = computed(() => yAxis.scale(maxY.value) - 1)
const xStep = computed(() => (x2.value - x1.value) / (props.x - 1))
const yStep = computed(() => (y2.value - y1.value) / (props.y - 1))
const xLines = computed(() => Array.from({ length: props.x }).map((_, i) => x1.value + i * xStep.value))
const yLines = computed(() => Array.from({ length: props.y }).map((_, i) => y1.value + i * yStep.value))
</script>
