<template>
	<line :x1="fx1" :y1="fy1" :x2="fx2" :y2="fy2" />
</template>

<script setup lang="ts">
import { computed, onUnmounted, watchEffect } from "vue"
import { kx, ky } from "../mods/axis"
import { d, safeValueRequired } from "../mods/props"
import { strictAxisInject } from "../mods/utils"

const props = defineProps({
	x1: safeValueRequired,
	y1: safeValueRequired,
	x2: safeValueRequired,
	y2: safeValueRequired,
	...d,
	ignore: Boolean,
})
const id = Symbol()
const id2 = Symbol()
const xAxis = strictAxisInject(kx)
const yAxis = strictAxisInject(ky)

watchEffect(() => {
	if (props.ignore) {
		yAxis.values.delete(id)
		xAxis.values.delete(id)
		yAxis.values.delete(id2)
		xAxis.values.delete(id2)
	} else {
		xAxis.setValue(id, props.x1)
		yAxis.setValue(id, props.y1)
		xAxis.setValue(id2, props.x2)
		yAxis.setValue(id2, props.y2)
	}
})
const fx1 = computed(() => xAxis.scale(props.x1) + props.dx)
const fx2 = computed(() => xAxis.scale(props.x2) + props.dx)
const fy1 = computed(() => yAxis.scale(props.y1) + props.dy)
const fy2 = computed(() => yAxis.scale(props.y2) + props.dy)

onUnmounted(() => {
	xAxis.values.delete(id)
	yAxis.values.delete(id)
	xAxis.values.delete(id2)
	yAxis.values.delete(id2)
})
</script>
