<script setup lang="ts">
import { useAttrs } from "vue"
import { propsOptions, useRect } from "../composables/useRect"

const props = defineProps(propsOptions)
const attrs: { width?: number; height?: number } = useAttrs()
const { fx, fy, fw, fh } = useRect(props)
</script>

<template>
	<foreignObject :x="fx" :y="fy" :width="fw ?? attrs.width" :height="fh ?? attrs.height">
		<slot></slot>
	</foreignObject>
</template>
