<template>
	<text :x="fx" :y="fy"><slot></slot></text>
</template>

<script setup lang="ts">
import { computed, onUnmounted, watchEffect } from "vue"
import { kx, ky } from "../mods/axis"
import { isSafeValue, safeValue } from "../mods/props"
import { strictAxisInject } from "../mods/utils"

const props = defineProps({
	x: safeValue,
	y: safeValue,
	ignore: Boolean,
})
const id = Symbol()
const yAxis = strictAxisInject(ky)
const xAxis = strictAxisInject(kx)

watchEffect(() => {
	if (props.ignore) {
		yAxis.values.delete(id)
		xAxis.values.delete(id)
	} else {
		xAxis.setValue(id, props.x)
		yAxis.setValue(id, props.y)
	}
})
const fx = computed((): number => {
	if (isSafeValue(props.x)) {
		return xAxis.scale(props.x)
	} else throw new Error("Missing x value on Text component.")
})

const fy = computed((): number => {
	if (isSafeValue(props.y)) {
		return yAxis.scale(props.y)
	} else throw new Error("Missing y value on Text component.")
})

onUnmounted(() => {
	yAxis.values.delete(id)
	xAxis.values.delete(id)
})
</script>
