<template>
	<path :d="d" />
</template>

<script setup lang="ts">
import { computed, onUnmounted, PropType, watchEffect } from "vue"
import { kx, ky } from "../mods/axis"
import { linear } from "../mods/curve"
import { d as offset, isSafeValue } from "../mods/props"
import { Value } from "../mods/types"
import { strictAxisInject } from "../mods/utils"

const props = defineProps({
	...offset,
	data: {
		type: Array as PropType<Readonly<[Value, Value][]>>,
		default: () => [],
		validator(v: [Value, Value][]): boolean {
			return v.every(c => Array.isArray(c) && c.length === 2 && c.every(isSafeValue))
		},
	},
	type: {
		type: Function as PropType<(point: Readonly<[number, number]>, i: number, a: [number, number][]) => string>,
		default: linear,
	},
	z: Boolean,
	ignore: Boolean,
})
const lMaxX = Symbol()
const lMinX = Symbol()
const lMaxY = Symbol()
const lMinY = Symbol()
const yAxis = strictAxisInject(ky)
const xAxis = strictAxisInject(kx)
const points = computed(() =>
	props.data.map((d): [number, number] => [xAxis.scale(d[0]) + props.dx, yAxis.scale(d[1]) + props.dy]),
)

const d = computed(
	() =>
		points.value.reduce(
			(acc, point, i, a) => (i === 0 ? `M ${point[0]},${point[1]}` : `${acc} ${props.type(point, i, a)}`),
			"",
		) + (props.z ? "Z" : ""),
)

watchEffect(() => {
	if (props.ignore) {
		xAxis.values.delete(lMaxX)
		xAxis.values.delete(lMinX)
		yAxis.values.delete(lMaxY)
		yAxis.values.delete(lMinY)
	} else {
		let minY: Value, maxY: Value
		let minX: Value = (minY = Infinity)
		let maxX: Value = (maxY = -Infinity)
		for (const [x, y] of props.data) {
			if (x < minX) minX = x
			if (x > maxX) maxX = x
			if (y < minY) minY = y
			if (y > maxY) maxY = y
		}
		xAxis.setValue(lMaxX, maxX)
		yAxis.setValue(lMinY, minY)
		yAxis.setValue(lMaxY, maxY)
		xAxis.setValue(lMinX, minX)
	}
})
onUnmounted(() => {
	xAxis.values.delete(lMaxX)
	xAxis.values.delete(lMinX)
	yAxis.values.delete(lMaxY)
	yAxis.values.delete(lMinY)
})
</script>
