<script setup lang="ts">
import { ref } from "vue"
import VgGraph from "../src/components/VgGraph.vue"
import VgScaledGrid from "../src/components/VgScaledGrid.vue"
import VgGraphScaleY from "../src/components/VgGraphScaleY.vue"
import VgGraphScaleX from "../src/components/VgGraphScaleX.vue"
import VgScaledCurve from "../src/components/VgScaledCurve.vue"
import { basisFactory, bumpFactory } from "./mods/curve"
const data = ref(
	Array(12)
		.fill(100)
		.map((v, i) => [i, Math.trunc(v * Math.random())] as [number, number]),
)
const bump = bumpFactory(0.3)
const basis = basisFactory(0.3)
</script>

<template>
	<main>
		<VgGraph :width="600" :height="250" :padding="[20, 5, 5, 20]" class="graph bd">
			<VgGraphScaleY :size="200">
				<VgGraphScaleX>
					<VgScaledGrid stroke="black" stroke-width="1" />
					<VgScaledCurve :data="data" stroke-width="1px" stroke="purple" fill="none" />
					<VgScaledCurve :data="data" :type="bump" stroke-width="1px" stroke="green" fill="none" />
					<VgScaledCurve :data="data" :type="basis" stroke-width="1px" stroke="blue" fill="none" />
				</VgGraphScaleX>
			</VgGraphScaleY>
		</VgGraph>
	</main>
</template>

<style scoped>
svg {
	outline: solid 1px black;
	overflow: visible;
}
line {
	fill: black;
	stroke: black;
	stroke-width: 1px;
}
</style>
